.article {
  border: 1px solid #a1a1a1;

  &__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.navigation {
  padding: 0 0 1em;
}

.btn {
  &__submit {
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 30px;
    border: 1px solid #9c9c9c;
    font-size: 14px;

    &:hover {
      border: 1px solid #848484;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
  }
}

.hidden {
  display: none;

  &.active {
    display: block;
  }
}

.error {
  color: red;
}

.success {
  display: none;
  color: #1c680f;

  &.active {
    display: block;
  }
}

@media screen and (min-width: 48em) {

  .form {
    max-width: 260px;
  }
  .form__section {
    flex-direction: row;
  }
}