/*
Grid system adapted from here: https://stackoverflow.com/a/46099319.
IE doesn't support some grid features, therefore flex fallback can be implemented (or table).
*/


.main {
  margin: 4em;
}


.section {
  &__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 1em;
    border-bottom: 2px solid #a0a0a0;
  }

  &__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 17em);
    grid-gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3em 0 0;
  }

  &__form {
    padding: 3em 0 0;
  }

}

@media screen and (min-width: 48em) {
  .section__head {
    flex-direction: row;
  }

  .section__list {
    grid-template-columns: repeat(auto-fill, 20em);
  }
}